.main-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.side-details{
 
  padding: 15px;
  position: sticky;
  top: 0;
  
}
@media screen and (max-width: 640px) {
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
  }
}